.Contain{
   
    
    &__flex{
        display: flex;

        @media (min-width: 480px) and (max-width: 780px){
          display: flex;
          flex-direction: column;
        }
        @media (max-width: 480px){
          display: flex;
          flex-direction: column;
      }
    }
     
    &__first-item{
        width:50%;
        margin-top: 150px;
        display: flex;
        @media (min-width: 480px) and (max-width: 780px){
          width:100%;
        }
        @media (max-width: 480px){
          width:100%;
      }
   
    }
  
    &__four-item{
        width:50%;
        margin-top: 300px;
        @media (min-width: 480px) and (max-width: 780px){
          margin-top: 20px;
          width:100%;
        }
        @media (max-width: 480px){
          margin-top: 20px;
          width:100%;
      }
   
    }
    &__main-title{
        font-size: 50px;
        color:#FF0068;
        font-family: "Raleway";
        font-weight: 300;
        @media (min-width: 480px) and (max-width: 780px){
          font-size: 35px;
          text-align: center;
        }

        @media (max-width: 480px){
          font-size: 15px;
          text-align: center;
      }
   
    }
    &__main-title2{
        font-size: 50px;
        color:#FF0068;
        font-family: "Raleway";
        font-weight: 300;
        text-align: right;
        width: 85%;

        @media (min-width: 480px) and (max-width: 780px){
          width: 100%;
          font-size: 35px;
          
          
          text-align: center;
          margin-top: 50px;
        }

        @media (max-width: 480px){
          width: 100%;
          font-size: 15px;
        text-align: center;
          margin-top: 30px;
      }
    }
    &__quote{
        width: 50px;
        margin-right: 20px;
        @media (min-width: 480px) and (max-width: 780px){
          width: 35px;
          margin-right: 0px;
        }

        @media (max-width: 480px){
          width: 10px;
          margin-right: 0px;
      }
    }
    

    &__saving{
        width: 650px;
        margin-top: 40px;

        
       @media (min-width: 480px) and (max-width: 780px){
        width: 450px;
      }
      @media (max-width: 480px){
        width: 150px;
    }
        
    }
    &__lights{
        width: 600px;
        margin-top:300px;
        @media (min-width: 480px) and (max-width: 780px){
          width: 410px;
          margin-top: 0;
        }

        @media (max-width: 480px){
          width: 150px;
          margin-top: 0;
      }
       
    }

    &__description{
        font-family: "Roboto";
        font-size: 24px;
        margin-top: 25px;
       margin-bottom: 40px;

       @media (min-width: 480px) and (max-width: 780px){
        font-size: 20px;
        text-align: center;
      }

      @media (max-width: 480px){
        font-size: 10px;
        text-align: center;
    }
        
    }

    &__description2{
        text-align: right;
        font-family: "Roboto";
        font-size: 24px;
        margin-top: 25px;
       margin-bottom: 40px;
       width: 85%;

       
       @media (min-width: 480px) and (max-width: 780px){
        font-size: 20px;
        width: 100%;
        text-align: center;
        
      }

      @media (max-width: 480px){
        font-size: 10px;
        text-align: center;
        width: 100%;
    }
    }

    &__contact-button{
        font-family: "Raleway";
        background-color: #FF0068;
        color: white;
        text-decoration: none;
        font-size: 24px;
        margin-top: 50px;
        padding: 10px 20px 10px 20px;

        @media (min-width: 480px) and (max-width: 780px){
          font-size: 20px;
          margin-left: 185px;
        }
        @media (max-width: 480px){
          font-size: 10px;
          margin-left:125px;
      }
        

        &:hover{
            background-color: transparent;
            border: solid 1px #FF0068;
            color: #FF0068;
            transition: all ease-in-out 0.5s;
        }
       
    }
    &__contact-button2{
        font-family: "Raleway";
        background-color: #FF0068;
        color:white;
        text-decoration: none;
        font-size: 24px;
        margin-top: 50px;
        padding: 10px 20px 10px 20px;
        margin-left:400px;
        @media (min-width: 480px) and (max-width: 780px){
          font-size: 20px;
          margin-left:200px;
          
        }

        @media (max-width: 480px){
          font-size: 10px;
          margin-left:125px;
      }
        

        &:hover{
            background-color: transparent;
            border: solid 1px #FF0068;
            color: #FF0068;
            transition: all ease-in-out 0.5s;
        }
       
    }

    &__trait{
        border: solid 1px ;
        color:#FF0068;
        position: absolute;
        width:1135px;
       
       right: 157px;
        top: 160%;
        transform: rotate(-35deg);

        
       @media (min-width: 480px) and (max-width: 780px){
        display: none;
      }

      @media (max-width: 480px){
        display: none;
    }
       
    }
   
}

.Contain .scroll-part{

    .content__to-left,
    .content__to-right,
    .content__to-up,
    .content__to-scale {
      opacity: 0;
    }

    &.is-inviewport {
      // opacity: 1;
      .content__to-left {
        animation: toLeft 0.5s ease-in-out forwards;
        animation-delay: 0.3s;
      }

      .content__to-right {
        animation: toRight 0.5s ease-in-out forwards;
        animation-delay: 0.5s;
      }

      .content__to-up {
        animation: toUp 0.6s ease-in-out forwards;
      }

      .content__to-scale {
        animation: toScale 0.5s ease-in-out forwards;
        animation-delay: 1s;
      }

      @keyframes toRight {
        0% {
          opacity: 0;
          transform: translateX(-40%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @keyframes toLeft {
        0% {
          opacity: 0;
          transform: translateX(40%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @keyframes toUp {
        0% {
          opacity: 0;
          transform: translateY(40px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      @keyframes toScale {
        0% {
          opacity: 0;
          transform: scale(0.6);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
      
    }
  }







    