.Header{
    width: 9%;

    &__logo_short{
        display: none;
    }
}  
   
@media screen and (min-width: 480px) and (max-width: 780px){
    .Header{
        width: 10%;

        &__logo{
            display: none;
        }

        &__logo_short{
            display: block;
        }
    }
}
   
@media screen and (max-width: 480px){
    .Header{
        width: 10%;

        &__logo{
            display: none;
        }

        &__logo_short{
            display: block;
        }
    }
}
   